<mat-card class="margin1">
   
    <mat-card-title class="text-center">
       <h1>Bienvenidos a Xo-Prueba</h1> 
    </mat-card-title>

  
</mat-card>

<mat-card class="margin2">
   
    <mat-card-content class="text-center">
       <p class="padding">En esta página podrás enterarte de el año de creación de ciertos colores, con su vista previa y codigo Hexadecimal, además puedes encontrar mayor información en el siguiente Link, espero esta forma pueda cumplir con sus expectativas para el puesto,
           espero poder unirme a su equipo y lograr desarrollarme profesionalmente junto a su empresa. Gracias de antemano por la oportunidad!!!
       </p>
     <i class="fab fa-google"></i>

    </mat-card-content>
  
</mat-card>
<div class="button"><a  mat-raised-button color="primary" href="https://htmlcolorcodes.com/es/">Más Información... =></a></div>
